.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .text-zone {
    width: 25rem;
    
    h1 {
      color: #fff;
      font-size: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
    }
  }

  img {

    height: 37.5rem;
    width: auto;
    border-radius: 50%;
  }
}