.projects-page {
  padding-top: 135px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vw;
  min-width: fit-content;
  gap: 10rem;
  flex-direction: column;

  @media (max-width: 1024px)  {
    margin: 5vw;
    flex-wrap: wrap;
  }

  @media (min-width: 2560px)  {
    margin: 5vw;
    min-width: fit-content;
  }

  h2 {
    color: #E48A49;
    font-family: 'Coolvetica';
    font-size: 53px;
  }

  h3 {
    color: #181818;
    font-family: 'Coolvetica';
    font-size: 36px;
  }

  h4 {
    color: #181818;
    font-family: 'Coolvetica';
    font-size: 18px;
  }
  

  p {
    color: #444;
    font-size: 18px;
    margin: 0;
    font-family: 'Helevetica Neue';
    font-weight: 400;
  }

  .project-pic {
    width: 60%;
    height: auto;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    height: 50rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

}